{% load static sekizai_tags i18n %}

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static 'django_privacy_mgmt/css/main.css' %}" media="screen"/>
{% endaddtoblock %}


{% addtoblock "js" %}
<script>
    // handles cookie bar settings
    jQuery(document).ready(function () {

        var COOKIE_NAME = 'django-privacy-mgmt-banner-state';
        var cookie_banner_state = Cookies.getJSON(COOKIE_NAME) || {hidden: false};

        if (!cookie_banner_state.hidden) {
            setTimeout(function() {
                $('.js-cookie-bar').slideDown(300);
            }, 2000);
        }

        // accepting
        $('.js-cookie-accept').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            django_privacy_mgmt.setPreference('STATISTICS', true);
            //django_privacy_mgmt.setPreference('MARKETING', true);

            closeBar();
        });

        $('.js-modal-accept').on('click', function (e) {
            closeBar();
        });

        // closing banner (x) - use default settings (Statistics ON)
        $('.close-banner').on('click', function (e) {
            closeBar();
        });

        // Set Privacy Policy link (read href from footer's Privacy Policy link, if exists, if not, leave # )
        $('.privacy-policy-banner-link').attr('href', getPrivacyPolicyLink())

        function closeBar() {
            Cookies.set(COOKIE_NAME, {hidden: true}, {
                // in FF this is required so that the cookie is not deleted after ending the browser session
                // we set it to a very high number of dates so that this cookie 'never' expires.
                expires: 2000
            });
            $('.js-cookie-bar').slideUp(300);
        }

        // reset for debugging
        // Cookies.set(COOKIE_NAME, { hidden: false }, {
            // in FF this is required so that the cookie is not deleted after ending the browser session
            // we set it to a very high number of dates so that this cookie 'never' expires.
            // expires: 2000
        // })

        function getPrivacyPolicyLink() {
            let href = $('.privacy-policy-link > a').attr('href');
            return href
        }
    });
</script>
{% endaddtoblock %}

<div id="privacy-banner" class="cookie-bar js-cookie-bar" style="display: none">
    <div class="container banner-container">
        <div class="row">
            <div class="banner-text  col-md-7 col-lg-8">
                {% blocktrans trimmed %}
                    This website uses cookies to help ensure that you enjoy the best experience.<br class="text-break">
                    If you do not consent to our use of cookies, please adjust your
                    <a href="#" class="js-cookie-settings"><strong>Privacy Settings</strong></a> accordingly.<br>
                {% endblocktrans %}
            </div>
            <div class="banner-buttons  col-md-5 col-lg-4">
                <a href="#" class="js-cookie-settings banner-settings-button">{% trans 'Cookie Preferences' %}</a>
                <a href="#" class="js-cookie-accept banner-accept-button">{% trans 'Accept' %}</a>
            </div>
        </div>
    </div>
</div>
