{% load static sekizai_tags i18n %}

{% addtoblock "js" %}
<script>
    // handles cookie bar settings
    jQuery(document).ready(function () {

        var COOKIE_NAME = 'django-privacy-mgmt-settings';
        var inputs = $('.js-gdpr-optin');
        var privacyModal = $('#privacysettings');

        $('.js-modal-accept').on('click', function (e) {
            e.preventDefault();
            // this should never be set, it breaks any third-party script, such as click-tracking / analytics, etc.
            // e.stopImmediatePropagation();

            privacyModal.modal('hide');

            inputs.each(function () {
                // initialize on modal load
                var el = $(this);
                var name = el.data('gdpr-category-name');
                var preference = django_privacy_mgmt.setPreference(name, el.prop('checked'));
            });
        });

        $('.js-cookie-settings').on('click', function (e) {
            e.preventDefault();
            privacyModal.modal('show')
        });

        inputs.each(function () {
            // initialize on modal load
            var el = $(this);
            var name = el.data('gdpr-category-name');
            var preference = django_privacy_mgmt.getPreference(name);
            el.prop('checked', preference);
        });


        $('.toggle-check').on('click', function() {
            let checked = $(this).prev('input').prop('checked');
            $(this).prev('input').prop('checked', !checked);
        })
        
    });
</script>
{% endaddtoblock %}

<div class="modal fade cookie-modal" id="privacysettings" tabindex="-1" role="dialog" aria-labelledby="privacylabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="privacylabel">{% trans 'Privacy Settings' %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">
                    {% blocktrans trimmed %}
                        Websites do not have full control over cookies that may set by various third-party scripts.
                        To see detailed information about and to manage cookies in your browser, please check its
                        privacy settings.
                    {% endblocktrans %}
                </p>

                <div class="category essentials">
                    <h5>{% trans "Essentials" %}</h5>
                    <p>{% trans "These cookies and scripts cannot be deactivated as they are needed to correctly render this website." %}</p>
                    {% if essentials %}
                        <ul>
                            {% for item in essentials %}
                                <li class="privacy-tracking-item">
                                    {{ item.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p><em>{% trans "Currently none in use." %}</em></p>
                    {% endif %}
                </div>

                {% if statistics %}
                    <hr/>

                    <div class="category analytics">
                            {# it is checked by default - see django_privacy_mgmt/js/libs/main.js - PREFERENCES #}
                            <h5>{% trans "Statistics" %}
                                <label class="customcheck">
                                    <input type="checkbox"
                                        name="statistics" 
                                        data-gdpr-category-name="STATISTICS"
                                        data-toggle="toggle"
                                        class="js-gdpr-optin toggle-check-input">
                                    <span class="checkmark" tabindex="0"></span>
                                </label>
                            </h5>
                        <p>
                            {% blocktrans trimmed %}
                                These tools are used to collect statistics about user behaviour that helps us to improve our
                                website and services.
                                No personal data are collected. This site currently uses:
                            {% endblocktrans %}
                        </p>
                        <ul>
                            {% for item in statistics %}
                                <li class="privacy-tracking-item">{{ item.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if social_networks %}
                    <hr>

                    <div class="category social_networks">
                            {# it is checked by default - see django_privacy_mgmt/js/libs/main.js - PREFERENCES #}
                            <h5>{% trans "Social Networks" %}
                                <label class="customcheck">
                                    <input type="checkbox"
                                        name="social_networks"
                                        data-gdpr-category-name="SOCIAL_NETWORKS"
                                        data-toggle="toggle"
                                        class="js-gdpr-optin toggle-check-input">
                                    <span class="checkmark" tabindex="0"></span>
                                </label>
                            </h5>
                        <p>
                            {% blocktrans trimmed %}
                                These cookies are intended to make the site more user-friendly and interactive, 
                                by allowing you to interact with social networks (Facebook, Twitter, LinkedIn, etc.).
                                This site currently uses:
                            {% endblocktrans %}
                        </p>
                        <ul>
                            {% for item in social_networks %}
                                <li class="privacy-tracking-item">{{ item.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if marketing %}
                    <hr/>

                    <div class="category marketing">
                        <h5>{% trans "Marketing" %}
                            <label class="customcheck">
                                <input type="checkbox"
                                    name="marketing"
                                    data-gdpr-category-name="MARKETING"
                                    data-toggle="toggle"
                                    class="js-gdpr-optin toggle-check-input">
                                <span class="checkmark" tabindex="0"></span>
                            </label>
                        </h5>
                        <p>
                            {% blocktrans trimmed %}
                                Marketing cookies are used to target advertising to a user (behavioural targeting). 
                                They are often served by third party companies, and track a user across websites.
                            {% endblocktrans %}
                        </p>
                        <ul class="items">
                            {% for item in marketing %}
                                <li>
                                    {{ item.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if personalization %}
                    <hr/>

                    <div class="category marketing">
                        <h5>{% trans "Personalisation" %}
                            <label class="customcheck">
                                <input type="checkbox"
                                    name="personalization"
                                    data-gdpr-category-name="PERSONALIZATION"
                                    data-toggle="toggle"
                                    class="js-gdpr-optin toggle-check-input">
                                <span class="checkmark" tabindex="0"></span>
                            </label>
                        </h5>
                        <p>{% trans "In order to improve your experience of our services, we will customise your experience based upon your usage." %}</p>
                        <ul class="items">
                            {% for item in personalization %}
                                <li>
                                    {{ item.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-modal-accept">{% trans "Accept" %}</button>
            </div>
        </div>
    </div>
</div>
